<div>
    <mat-toolbar color="primary">
        <span>Game Details</span>
        <button mat-button (click)="openDialog('Add')">Add Product</button>
      </mat-toolbar>
      <table mat-table [dataSource]="games" class="mat-elevation-z8">
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> title </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
        <ng-container matColumnDef="platform">
          <th mat-header-cell *matHeaderCellDef> platform </th>
          <td mat-cell *matCellDef="let element"> {{element.platform}} </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
        <ng-container matColumnDef="game_Price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.game_Price | currency}} </td>
        </ng-container>
        <ng-container matColumnDef="developedBy">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.developedBy}} </td>
        </ng-container>
        <ng-container matColumnDef="ageLevel">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.ageLevel}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="openDialog('Update', element)">Edit</button>
            <button mat-button (click)="openDialog('Delete', element)">Delete</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> 
</div>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
